<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aeriel's Portfolio</title>
    <link rel="stylesheet" type="text/css" href="../reset.css">
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>
    <header class="header-main">
        <div class="header-main-logo">
            <img src="../img/logo.png" alt="aerielkawasaki logo">
        </div>
        <nav class="header-main-nav">
            <ul>
                <li><a>Home</a></li>
                <li><a>About Me</a></li>
                <li><a>Projects</a></li>
            </ul>
        </nav>
        <div class="header-main-sm"></div>
    </header>



    <!-- Notes
        color palete colors
        black: 232326
        grey: bebdbf
        tan: cda580
        ligh grey: f8f7f2
        gold: #E6C068
    -->


</body>
</html>