<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="../styles/reset.css">
    <link rel="stylesheet" type="text/css" href="../styles/projects.css">
</head>
<body>
    <div id="project-container-1">
    <div class="left">
        <div class= "image"></div>
        <div class= "description"></div>
    </div>
    <div class="center">
        <p>center</p>

    </div>
    <div class="right">
        <p>right</p>

    </div>
</div>







<div id="links-to-more">
    <a href="index.html"><button id="projects" type="submit">Home</a>
    </button>
</div>













</body>
</html>

