<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" type="text/css" href="../styles/reset.css">
    <link rel="stylesheet" type="text/css" href="../styles/projects.css">
</head>
<body>
    <div id="project-container-1">
        <div class="top">
            <div class="top-left">
                <div class= "image">Cloud Resume</div>
                <i class="fa-solid fa-10x fa-suitcase"></i>
                <div class= "description"><p>This project was a large compolation of so many things that I've learned lately.  Whether it was services in AWS, implementing CI/CD pipelines with github actions, or creating and deploying my own website on AWS, this project was a great way to put all the different pieces together</p></div>
            </div>
            <div class="top-center">
                <div class="center-top">
                    <div class="dotted-line-top" ></div>
                    <div class="dotted-line-top hide"></div>
                </div>
                <div class="center-bottom">
                    <div class="dotted-line-bottom hide"></div>
                    <div class="dotted-line-bottom"></div>
                </div>
            </div>
            <div class="top-right">
                <div class= "image">Cloud Resume</div>
                <i class="fa-solid fa-10x fa-suitcase"></i>
                <div class= "description"><p>This project was a large compolation of so many things that I've learned lately.  Whether it was services in AWS, implementing CI/CD pipelines with github actions, or creating and deploying my own website on AWS, this project was a great way to put all the different pieces together</p></div>
            </div>
        </div>
    </div>








<!-- <div id="links-to-more">
    <a href="index.html"><button id="projects" type="submit">Home</a>
    </button>
</div> -->











<script src="https://kit.fontawesome.com/01db06c555.js" crossorigin="anonymous"></script>

</body>
</html>

