/*  
ids = #
classes = .


/* 
cursive: font-family: 'Gloria Hallelujah', cursive;
titles: 
 cursive: font-family: 'Shadows Into Light Two', cursive;
*/


/* possible breakpoints
    -tablet @ 657
    -mobile @ 481
*/ 
body {
    background-color: #232326;
    color: white
}

a {
    cursor: pointer;
}

.header-main {
    /* background-color: #cda580; */
    width: 100%;
    height: 60px;
    padding:5px;
    background-color: #E6C068;
}

.header-main-nav{
    height: 100%;
    text-align: center;
    float: right;
}

.header-main-nav ul {
    margin-left: 20px;
}

.header-main-nav ul li {
    /* display: to make sure that the links are next to eachtoher */
    display: inline;
    /* float: to make sure there are no gaps between the links */
}

.header-main-nav ul li a {
    padding: 0px 10px;
    color: #232326
}


/* Styling the About me section */
#aboutme {
    display: flex;
    margin-top: -115px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 16px;
    padding-bottom: 20px;
}

#hey {
    font-size: 50px;
    font-family: 'Shadows Into Light Two', cursive;
    margin: 0px 20px;
}

#aboutme-one, #aboutme-two, #aboutme-three {
    margin-right:25px;
    width:fit-content;
    /* padding:0px 25px */
   
}


/* styling the intro */
#intro {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    

}

.oneside {
    display: inline;
    color:white;
    width: 350px;
    padding: 5px 10px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    margin-top:100px;
    font-family: 'Shadows Into Light Two', cursive;
    border: 1px solid #f1f1f1;
}

.aboutme-icons{
    color:#E6C068;
    text-align: center;
    padding-top: 20px;
    transition: font-size ease-out 2s;
}

.aboutme-icons:hover{
   font-size: 25px;
}

.fa-laptop, .fa-book-open, .fa-table-tennis-paddle-ball {
    /* background-color: green; */
    padding-right: 40px;
    
}

/* trying to flip the card */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.front {
    background-color: #E6C068;
    color:#232326;
    padding-top: 200px;
    
}

/* Style the back side */
.back {
    background-color: #E6C068;
    color:#232326;
    transform: rotateY(180deg);
    padding-top: 20px;
}

/* end of trying to flip the card */


#links-to-more{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

#projects {
    background-color: #E6C068;
    border: none;
    color: #232326;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px
}


.counter {
    background-color: #E6C068;
    border: none;
    color: #232326;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px;
    margin-top: 30px;
}