
body {
    background-color: #232326;
}
.project {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.title_image, .likes, .comments{
    height: 400px;
}

.title_image {
    /* background-color: yellow; */
    width: 30%;
    padding-top:25px;
}

.title{
    /* background-color: aqua; */
    height: 25%;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    color:#E6C068;
}

.image {
    /* background-color: purple; */
    height:70%;
}

.likes {
    /* background-color: green; */
    width:15%;
    text-align: center;
    padding-top: 130px;
    color:white;
}

#project_one_like_count{
    height:20%;
    width:20%;
    color:white;
    background-color:blueviolet;
    margin-left:40%;
    padding-top:15px
}

.comments {
    /* background-color: red; */
    width: 50%;
    padding:100px
}

textarea {
    background-color: white;
    width: 100%;
    height:200px;
    border-radius: 5px;
}

#submit_form {
    background-color: #E6C068;
    padding:10px;
    border-radius: 5px;
    margin-top: 20px;
}

